/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width: 230px;
    padding-top: 20px;
    background-color:rgba(54, 55, 64, 1);
    transition: width 0.3s;
}

.title{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    padding: 10px 0px 10px 20px;
    font-size: 16px;
    color: rgba(164, 166, 179, 1);
}

.title-text  {
    margin: 0;
    font-size: 19px;
}

.sidebar .nav-link{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: rgba(164, 166, 179, 1);
}

.sidebar .description{
    font-size: 16px;
}

.sidebar .nav-link:hover{
    color: rgba(221, 226, 255, 1);
    background-color:rgba(159, 162, 180, 1) ;
}

.icon:hover{
    color: rgba(221, 226, 255, 1);
}

/* main */
.main-content{
    height:100%;
    margin-left: 230px;
    padding:30px 20px;
}

.overview{
    font-size: 19px;
    padding-top:5px;
}

.overview-icon {
    padding-right:25px;
}

.card {
    background-color: ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card:hover{
    border-color: blue;
    cursor: pointer;

}

.card:hover span {
    color: blue;
}

.label {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 5px;
}

.count {
    font-size: 24px;
    color: #000;
}

/* Today's Trends */



.h6{
    text-align: left;
}

.text-body-secondary{
    text-align: left;
    font-size: small;
}


/* Today's trends side list */


.trends{
   
    height: 100%;
    margin-left: 230px;
    padding: 0 30px 0 30px ;
    
    
}

#today, #yesterday{
    text-align: right;
    font-size: xx-small;
    
}


#small{
    text-align: left;
}

#card1{
    border-radius: 10px 0 0 10px ;
    
}

.list-group{
    border-radius: 0 10px 10px 0;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.list-group-item {
    height: calc(100% / 5);
}

.list-group-item-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}
